{% extends "base.html" %}
{% block content %}
<div>
  <div class="row">
      <div class="col-md-10">
          <h1 class="header-text text-justify">Blogify</h1>
          <div class="jumbotron">
            <p>
                Got something on your mind and want to write about it? Well then signup
                and get to it!
            </p>
          </div>
      </div>
  </div>

  <div class="btn-group">
      <a href="/login" role="button" class="btn btn-primary btn-lg">Log In</a>
      <a href="/signup" role="button" class="btn btn-success btn-lg">Sign Up</a>
  </div>
</div>
{% endblock %}
