{% extends "base.html" %}
{% block content%}
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
{% if user.name == post.author %}
<!-- no Up vote button. Don't need one here. -->
<!-- Show the number of likes here -->
<div class="row">
    <span class="text-right col-md-12">Number of likes: {{ post.likes }}</span>
</div>
<div class="row">
    <h1 class="text-center col-md-6">{{ post.title }}<small> by {{ post.author }}</small></h1>
    <div class="col-md-6 text-right" style="margin-top: 20px;">
      <div class="btn-group">
        <a href="/post/{{ post.key().id() }}/edit" class="btn btn-primary" role="button">Edit Post</a>
        <a href="/post/{{ post.key().id() }}/delete" class="btn btn-danger" role="button">Delete Post</a>
      </div>
    </div>
</div>
<!-- html for non-authors -->
{% else %}
<div class="row">
 <h1 class="text-center col-md-6">{{ post.title }}<small> by {{ post.author }}</small></h1>
 <div class="col-md-6 text-right" style="margin-top: 20px;">
      <form method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-success">Up Vote:</button>
        <span>{{ post.likes }}</span>
      </form>
  </div>
</div>
{% endif %}
<!-- Content stuff -->
<div class="jumbotron text-center">
  <p>{{ post.content }}</p>
</div>
<!-- Comment stuff -->
<div class="row">
    <h2 class="text-center col-md-6">Comments about the post</h2>
    <div class="col-md-6 text-right" style="margin-top: 20px;">
      <a href="/post/{{ post.key().id() }}/comment" class="btn btn-primary" role="button">Comment</a>
    </div>
</div>
{% for comment in comments %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="/post/{{ post.key().id() }}/comment/{{ comment.key().id() }}">
                {{ comment.author }}
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <p>{{ comment.content }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
